.main-offer {
  display: flex;
  padding: 161px 0 194px;
}

.main-offer__content-wrap {
  position: relative;
  padding-left: 37px;
  text-align: right;
  text-transform: uppercase;
  line-height: 1;
}

.main-offer__decorative-text {
  position: absolute;
  left: -58px;
  top: 62px;
  font-size: 18px;
  font-weight: 600;
  transform: rotate(-90deg);

  &::before {
    @include element-style(45px, 2px, white);
    top: 50%;
    left: -10px;
    transform: translate(-100%, -50%);
  }
}

.main-offer h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 0.9;
}

.main-offer__motto {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
}
